<%- include('../dashboard/partials/header.ejs'); %>
<%- include('../dashboard/partials/navbar.ejs'); %>
<style type="text/css">
.error{
  color: red;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> Profile </a></li>
        <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="tab">Security</a></li>    
      </ul>
      <div class="tab-content default">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <div class="col-md-12 bg-white default-border accounts p-b-50"> 
              <form class="form-common" action="/accounts/update_profile">
                <div class="col-md-12">
                  <h3 style="margin-bottom:30px;">Profile</h3>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Full Name</label>
                    <div>
                      <input type="text" name="full_name" id="full_name" class="form-control" value="<%= user.first_name + ' ' + user.last_name %>"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email Address</label>
                    <div>
                      <input type="email" name="email" id="email" class="form-control" value="<%= user.email %>" />
                    </div>
                  </div>
                </div>
                <div class="col-md-12 m-b-2-rem">
                  <div class="form-group text-left">
                      <div class="pull-left">
                            <button type="submit" class="btn btn-js">Save Profile</button>
                      </div>
                      <div class="result pull-left"></div>
                  </div>
                </div>
              </form>
              <form class="form-common" action="/accounts/update_password">
                <div class="col-md-12">
                      <h3>Change Password</h3>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label>New Password</label>
                      <input type="password" class="form-control new_password" id="new_password" name="new_password" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control password" id="password" name="password" />
                  </div>
                </div>
                <div class="col-md-12 m-b-2-rem">
                  <div class="form-group text-left">
                      <div class="pull-left">
                            <button type="submit" class="btn btn-js">Change Password</button>
                      </div>
                      <div class="result pull-left"></div>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane " id="security">
          <div class="col-md-12 bg-white default-border p-b-50">
            <h3>Security</h3>
            <div class="row form-group">
              <div class="col-md-12">
                <span>Enable 2FA on your account </span>
                <button type="button" class="btn btn-toggle btn-lg google-2fa <%= (user.two_factor_enabled) ? 'active' : '' %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <div class="handle"></div>
                </button>
              </div>
            </div>
            <div class="enable-google-2fa hide">
              <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#download_app" aria-controls="download_app" role="tab" data-toggle="tab">1. Download App</a></li>
                  <li role="presentation"><a href="#scan_qr_code" aria-controls="scan_qr_code" role="tab" data-toggle="tab">2. Scan QR Code</a></li>
                  <li role="presentation"><a href="#backup_key" aria-controls="backup_key" role="tab" data-toggle="tab">3. Backup Key</a></li>
                  <li role="presentation"><a href="#enable_ga" aria-controls="enable_ga" role="tab" data-toggle="tab">4. Enable Google Authentication</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="download_app">
                    <div class="box">
                      <div class="panel-heading">
                        <h4>Download and install the Google Authentication app</h4>
                      </div>
                      <div class="panel-body">
                        <div class="step">
                          <a class="btn btn-default next_step" href="#scan_qr_code">Next Step</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="scan_qr_code">
                    <div class="box">
                      <div class="panel-heading flex align-items-center">
                        <div class="inline-block qr-code">
                          <img src="<%= qr_image %>" />
                          <p class="no-margin">
                            Scan this QR code in the Google Authentication app
                          </p>
                        </div>
                        <div class="inline-block secretkey-details">
                          <div class="secretkey bold">
                            <span><%= secret_key %></span>
                          </div>
                          <p>
                            If you are unable to scan the QR code, please enter this code manually into the app.
                          </p>
                        </div>
                      </div>
                      <div class="panel-body">
                      <div class="step">
                          <a class="btn btn-default next_step" href="#backup_key">Next Step</a>
                        </div>
                      </div>
                    </div> 
                  </div>
                  <div role="tabpanel" class="tab-pane" id="backup_key">
                    <div class="box">
                      <div class="panel-heading flex align-items-center">
                        <div class="secretkey-details">
                          <div class="secretkey bold">
                            <span><%= secret_key %></span>
                          </div>
                        </div>
                        <div class="secretkey-note">
                          <p>Please save this Key on paper. This Key will allow you to recover your Google Authentication in case of phone loss.</p>
                          <p class="text-red">Resetting your Google Authentication requires opening a support ticket and takes at least 7 days to process.</p>
                        </div>
                      </div>
                      <div class="panel-body">
                      <div class="step">
                          <a class="btn btn-default next_step" href="#enable_ga">Next Step</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="enable_ga">
                    <div class="box">
                      <form class="form-common" action="/accounts/enable_ga">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="pull-left">Login Password</label>
                          <input type="password" class="form-control password" required name="password"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="pull-left">Google Authentication Code</label>
                          <input type="text" class="form-control ga_code" required name="ga_code" autocomplete="off"/>
                        </div>
                        </div>
                      <div class="col-md-6">
                        <div class="pull-left">
                          <button type="submit" class="btn btn-js">Enable Google Authentication</button>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="result pull-left no-margin"></div>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var utils = {
     _this:'',
     currentSelectedEl: '',
     init: function(){
          _this = this;
          this.bindEvents();
     },
     bindEvents: function(){
          $(document).on('submit', '.form-common', this.formSubmit);
          $(document).on('click', '.google-2fa', this.toggleGoogle2FA);
          $(document).on('click', '.next_step', this.showNextStep);
     },
     showNextStep: function() {
       let id = $(this).attr("href");
       if(typeof id !== "undefied"){
         $('.enable-google-2fa .nav-tabs li, .enable-google-2fa .tab-pane').removeClass("active");
         $('.enable-google-2fa .nav-tabs li a[href="'+id+'"]').parent().addClass("active");
         $('.enable-google-2fa '+id).addClass("active");
       }
     },
     toggleGoogle2FA: function(event){
       let isActive = $(this).hasClass("active");
       if(isActive)_this.enableGoogle2FA();
       else _this.disableGoogle2FA();
     },
     enableGoogle2FA: function(){
       $('.enable-google-2fa').removeClass('hide');
     },
     disableGoogle2FA: function() {
       $('.enable-google-2fa').addClass('hide');
       let data = {
         two_factor_enabled: false
       };
       let url = "accounts/disable_ga";
       _this.sendData("POST", url, data, _this.disableGoogle2FACallBack);
     },
     disableGoogle2FACallBack: function(response){

     },
     formSubmit: function(event){
          event.preventDefault();
          _this.currentSelectedEl = $(this);
          _this.emptyFormResult();
          var url = $(this).attr("action");
          var data = $(this).serialize();
          _this.sendData("POST", url, data, _this.formSubmitCallBack);
     },
     emptyFormResult: function(){
          var resultEl = $(_this.currentSelectedEl).find('.result');
          $(resultEl).empty().removeClass("error success");
     },
     formSubmitCallBack: function(response){
       console.log(response);
          var formEl = $(_this.currentSelectedEl);
          if(response.status == 200) $(formEl).find('.result').addClass("success");
          else $(formEl).find('.result').addClass("error");
          $(formEl).find('.result').text(response.msg);
     },
     sendData: function(type, url, data, callback){
          $.ajax({
               type: type,
               url: url,
               data: data,
               success: callback
          })
     }
}
utils.init();
</script>
<%- include('../dashboard/partials/footer.ejs'); %>