<%- include('../dashboard/partials/header.ejs'); %>
  <script type="text/javascript" src="js/plotly.min.js"></script>
  <%- include('../dashboard/partials/navbar.ejs'); %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 no-padding">
          <div class="col-sm-5">
            <div class="panel">
              <div class="panel-body">
                <div class="content-block">
                  <div class="current-price text-center">
                    <p>DBR Price:</p>
                    <p class="text-blue p-b-10">
                      <span class="currency-symbol">$</span>
                      <span class="text-large">0.04 (+0% Bonus)</span>
                    </p>
                  </div>
                </div>
                <div class="content-block flex text-center default-border-top">
                  <div class="contributors">
                    <p class="text-gray font-600">Contributors:</p>
                    <p class="no-margin">
                      <span class="text-large text-black">0</span>
                      <img class="font-awesome" src="images/font-awesome/regular/user.svg" />
                    </p>
                  </div>
                  <div class="funds-collected">
                    <p class="text-gray font-600">Funds collected:</p>
                    <p class="text-center text-black no-margin">
                      <span class="currency-symbol bold">$</span>
                      <span class="text-large">0.00</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="panel">
              <div class="panel-body">
                <div class="token-details">
                  <p class="font-600 no-margin p-b-10 text-black">
                    Your active token Balance!
                    <span> This is the wallet where you will receive your DBR tokens to.</span>
                  </p>
                  <div class="token-balance default-border-bottom p-b-10">
                    <span class="m-r-10">Balance:</span>
                    <span class="balance text-large">0.00</span>
                    <span class="text-blue text-large">DBR</span>
                    <button class="btn btn-secondary fill pull-right" data-toggle="modal" data-target="#choose_payment_modal">Buy</button>
                  </div>
                  <div class="user-eth flex align-items-center p-t-15">
                    <span class="text-gray">Address: </span>
                    <div class="eth-details">
                      <input type="text" class="form-control" placeholder="Enter Your ETH Wallet" />
                    </div>
                    <button type="button" class="btn btn-secondary" disabled>Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel">
            <div class="panel-body text-center">
              <h3 class="no-margin font-600">Accepted Payment Methods</h3>
              <div class="flex justify-content-between accepted-payments">
                <div class="payment-method">
                  <div class="payment-icon">
                    <img src="images/payments/ethereum.svg" alt="Ethereum" title="Ethereum" />
                  </div>
                  <p class="text-gray font-500 no-margin">Ethereum</p>
                </div>
                <div class="payment-method">
                  <div class="payment-icon">
                    <img src="images/payments/bitcoin.svg" />
                  </div>
                  <p class="text-gray font-500 no-margin">Bitcoin</p>
                </div>
                <div class="payment-method">
                  <div class="payment-icon">
                    <img src="images/payments/litecoin.svg" />
                  </div>
                  <p class="text-gray font-500 no-margin">Litecoin</p>
                </div>
                <div class="payment-method">
                  <div class="payment-icon">
                    <img src="images/payments/bitcoin_cash.svg" />
                  </div>
                  <p class="text-gray font-500 no-margin">Bitcoin Cash</p>
                </div>
                <div class="payment-method">
                  <div class="payment-icon">
                    <img src="images/payments/bitcoin_gold.svg" />
                  </div>
                  <p class="text-gray font-500 no-margin">Bitcoin Gold</p>
                </div>
                <div class="payment-method">
                  <div class="payment-icon">
                    <img src="images/payments/dash.svg" />
                  </div>
                  <p class="text-gray font-500 no-margin">Dash</p>
                </div>
                <div class="payment-method">
                  <div class="payment-icon">
                    <img src="images/payments/ethereum_classic.svg" />
                  </div>
                  <p class="text-gray font-500 no-margin">Eth. Classic</p>
                </div>
              </div>
              <h3 class="no-margin font-600 text-gray hide">Token generation event has ended. You cannot buy tokens anymore</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel">
            <div class="panel-body text-center">
              <div class="progress-data">
                <div class="progress-list">
                  <div class="progress-stats">
                    <span>25%</span>
                    <span class="progress-stats-inner">
                      <span class="progress-stats-bar"></span>
                    </span>
                    <span>15, June</span>
                  </div>
                  <div class="progress-stats">
                    <span>25%</span>
                    <span class="progress-stats-inner">
                      <span class="progress-stats-bar"></span>
                    </span>
                    <span>15, June</span>
                  </div>
                  <div class="progress-stats">
                    <span>25%</span>
                    <span class="progress-stats-inner">
                      <span class="progress-stats-bar"></span>
                    </span>
                    <span>15, June</span>
                  </div>
                  <div class="progress-stats">
                    <span>25%</span>
                    <span class="progress-stats-inner">
                      <span class="progress-stats-bar"></span>
                    </span>
                    <span>15, June</span>
                  </div>
                  <div class="progress-stats">
                    <span>25%</span>
                    <span class="progress-stats-inner">
                      <span class="progress-stats-bar"></span>
                    </span>
                    <span>15, June</span>
                  </div>
                  <div class="progress-stats">
                    <span>25%</span>
                    <span class="progress-stats-inner">
                      <span class="progress-stats-bar"></span>
                    </span>
                    <span>15, June</span>
                  </div>
                  <div class="progress-stats finish">
                    <span class="">25%</span>
                    <span class="progress-stats-inner">
                      <span class="progress-stats-bar"></span>
                    </span>
                    <span>15, June</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="choose_payment_modal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 text-center headig">
                <h2 class="font-600">Choose payment method</h2>
                <p class="text-black font-600 text-left">
                  <strong>NOTE:</strong> Please make sure your wallet supports ERC20 tokens. Withdrawl to any wallet that
                  doesn't support ERC20 might lose your tokens.
                </p>
              </div>
              <div class="col-md-12">
                <div class="flex justify-content-start payment-methods">
                  <div class="payment-method">
                    <div class="payment-icon">
                      <img src="images/payments/ethereum.svg" alt="Ethereum" title="Ethereum" />
                    </div>
                    <p class="text-gray font-500 no-margin">Ethereum</p>
                  </div>
                  <div class="payment-method">
                    <div class="payment-icon">
                      <img src="images/payments/bitcoin.svg" />
                    </div>
                    <p class="text-gray font-500 no-margin">Bitcoin</p>
                  </div>
                  <div class="payment-method">
                    <div class="payment-icon">
                      <img src="images/payments/litecoin.svg" />
                    </div>
                    <p class="text-gray font-500 no-margin">Litecoin</p>
                  </div>
                  <div class="payment-method">
                    <div class="payment-icon">
                      <img src="images/payments/bitcoin_cash.svg" />
                    </div>
                    <p class="text-gray font-500 no-margin">Bitcoin Cash</p>
                  </div>
                  <div class="payment-method">
                    <div class="payment-icon">
                      <img src="images/payments/bitcoin_gold.svg" />
                    </div>
                    <p class="text-gray font-500 no-margin">Bitcoin Gold</p>
                  </div>
                  <div class="payment-method">
                    <div class="payment-icon">
                      <img src="images/payments/dash.svg" />
                    </div>
                    <p class="text-gray font-500 no-margin">Dash</p>
                  </div>
                  <div class="payment-method">
                    <div class="payment-icon">
                      <img src="images/payments/ethereum_classic.svg" />
                    </div>
                    <p class="text-gray font-500 no-margin">Eth. Classic</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-center payment-footer">
                <button class="btn btn-secondary fill btn-next">Next</button>
                <button class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of modal -->
    <!-- Modal -->
    <div class="modal fade" id="kyc_process_backup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <div class="row">
              <div class="col-md-12 text-center">
                <h3>Please follow the steps to complete your registration. </h3>
              </div>
              <div class="col-md-12" style="background:#f6f8fc;margin:20px 0px;">
                <div class="text-center">
                  <div class="custom-tabs kyc-tabs">
                    <ul>
                      <!-- <li class="active"><a data-toggle="tab" href="#course-details" data-id="#course-details">Chevening</a></li> -->
                      <li class="active"><a data-toggle="tab" href="#personal-data" data-id="#personal-data">Personal Details</a></li>
                      <li><a data-toggle="tab" href="#identity" data-id="#identity">Identify</a></li>
                      <li><a data-toggle="tab" href="#verification" data-id="#verification">Verification</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="tab-content">
                  <div id="personal-data" class="tab-pane fade in active">
                    <form action="dashboard/personal_details">
                      <!-- <div class="form-group">
                        <label for="first-name">Full Name</label>
                        <input type="text" class="form-control" name="full_name" id="full-name" placeholder="Full Name" value="<%= (user.personal_details && user.personal_details.full_name) ? user.personal_details.full_name : '' %>"
                          required />
                      </div> -->
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="first-name">First Name</label>
                            <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" value="<%= (user.first_name) ? user.first_name : '' %>"
                              required />
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="last-name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" value="<%= (user.last_name) ? user.last_name : '' %>"
                              required />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="gender">Gender</label>
                            <select class="form-control" name="gender">
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="dob">Birthday</label>
                            <input type="date" class="form-control" name="dob" id="dob" placeholder="" value="<%= (user.dob) ? user.dob : '' %>" required
                            />
                          </div>
                        </div>
                      </div>
                      <!-- <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" rows="2" name="address" placeholder="House Number, Street name, City, Country, Postcode" required><%= (user.personal_details && user.personal_details.address) ? user.personal_details.address : '' %></textarea>
                      </div> -->
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="mobile-number">Mobile Number</label>
                            <input type="text" class="form-control number" id="mobile-number" name="mobile_number" placeholder="Enter Mobile Number"
                              value="<%= (user.personal_details && user.personal_details.mobile_number) ? user.personal_details.mobile_number : '' %>"
                              required />
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="phone-number">Phone Number</label>
                            <input type="text" class="form-control number" id="phone-number" name="phone_number" placeholder="Enter Phone Number" value="<%= (user.personal_details && user.personal_details.phone_number) ? user.personal_details.phone_number : '' %>"
                            />
                          </div>
                        </div>

                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="countrt">Country</label>
                            <input type="text" class="form-control" id="country" name="country" placeholder="Enter Country" value="<%= (user.address_details && user.address_details.country) ? user.address_details.country : '' %>"
                            />
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="countrt">State</label>
                            <input type="text" class="form-control" id="state" name="state" placeholder="Enter State" value="<%= (user.address_details && user.address_details.state) ? user.address_details.state : '' %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="countrt">City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" value="<%= (user.address_details && user.address_details.city) ? user.address_details.city : '' %>"
                            />
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="building">Building</label>
                            <input type="text" class="form-control" id="building" name="building" placeholder="" value="<%= (user.address_details && user.address_details.building) ? user.address_details.building : '' %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="zipCode">Zip Code</label>
                            <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="" value="<%= (user.address_details && user.address_details.zipCode) ? user.address_details.zipCode : '' %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Preferred Mode of Communication</label>
                            <select class="form-control " name="preferredModeOfCommunication" required>
                              <option value="Mobile">Mobile</option>
                              <option value="E-Mail">E-Mail</option>
                            </select>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="CommunicationDetails">Communication Account</label>
                            <input type="text" class="form-control" id="CommunicationDetails" name="communicationDetails" placeholder="" value="<%= (user.personal_details && user.personal_details.communicationDetails) ? user.personal_details.communicationDetails : '' %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group text-center">
                        <button class="btn btn-custom btn-personal-details">Confirm and continue</button>
                      </div>
                    </form>
                  </div>
                  <div id="identity" class="tab-pane">
                    <form action="/dashboard/identity" id="identityForm">
                      <h4 class="text-center m-t-20 m-b-20">
                        This follow UK regulations and guidelines - please confirm your identity to proceed further.
                      </h4>
                      <div class="form-group">
                        <p>Choose a document type to upload</p>
                        <select class="form-control" name="identity_doc_type">
                          <option value="passport">Passport</option>
                          <option value="driving_licence">Driving Licence</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <p>Upload a scan of your document
                          <span class="error"></span>
                        </p>
                        <div class="drop-document">
                          <span>Drop files here or click to upload</span>
                          <% if(user.identity && user.identity.identity_file_name){ %>
                            <div class="file-name server-file-name">
                              <%= user.identity.identity_file_name%>
                            </div>
                            <% } %>
                              <input type="file" name="identity_document" accept="image/jpeg,image/gif,image/png,application/pdf" class="identity_document fileupload"
                              />
                        </div>
                      </div>
                      <div class="form-group">
                        <p>Choose a type of document to prove your address</p>
                        <select class="form-control" name="address_doc_type">
                          <option value="passport">Passport</option>
                          <option value="driving_licence">Driving Licence</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <p>Upload a scan of your document
                          <span class="error"></span>
                        </p>
                        <div class="drop-document">
                          <span>Drop files here or click to upload</span>
                          <% if(user.identity && user.identity.address_file_name){ %>
                            <div class="file-name server-file-name">
                              <%= user.identity.address_file_name %>
                            </div>
                            <% } %>
                              <input type="file" name="address_document" accept="image/jpeg,image/gif,image/png,application/pdf" class="address_document fileupload"
                              />
                        </div>
                      </div>
                      <div class="form-group text-center no-margin">
                        <p class="small no-margin">
                          <b>
                            The Chevening Alumni Alliance and the Chevening Alumni Fund follow new GDPR regulations. The data you have provided will
                            be used for regulatory checks and to keep you updated of our initiatives.
                            <br />
                            <input type="checkbox" /> &nbsp; &nbsp;Please click here to confirm your agreement.
                          </b>
                        </p>
                      </div>
                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-custom">Confirm and continue</button>
                      </div>
                    </form>
                  </div>
                  <div id="verification" class="tab-pane">
                    <h4 class="text-center">Your account is in the progress of being verified.</h4>
                    <div class="row">
                      <form action="/dashboard/identity">
                        <div class="col-md-12 no-padding">
                          <div class="col-md-6">
                            <div class="contribution-box personal-tab-status">

                              <div class="img-status alert"></div>

                              <div class="heading">Personal Data</div>
                              <div class="status pending">InComplete</div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contribution-box identity-tab-status">
                              <div class="img-status alert"></div>
                              <div class="heading">Identify</div>
                              <div class="status pending">InComplete</div>
                            </div>
                          </div>
                          <div class="col-md-6 m-b-20">
                            <div class="contribution-box">
                              <div class="img-status alert"></div>
                              <div class="heading">Verification</div>
                              <div class="status pending">Incomplete</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group text-center">
                            <button class="btn btn-custom btn-dashboard" disabled="">Continue to Dashboard</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script type="text/javascript">
  /* 
var data = [
  {
    x: ['2018-07-01 22:23:00', '2018-07-02 22:23:00', '2018-07-03 22:23:00'],
    y: [0, 0, 0],
    type: 'scatter'
  }
];
var layout = {
  showlegend: true
}
Plotly.newPlot('graph', data, layout, {displayModeBar: false});
*/
    </script>
    <script type="text/javascript">
      var utils = {
        _this: '',
        currentEl: '',
        isValidFile: false,
        cheveningTab: false,
        personalDetails: false,
        identityDetails: false,
        init: function () {
          _this = this;
          this.restoreTabStatus();
          this.bindEvents();
          this.restoreSettings();
        },
        restoreTabStatus: function () {

          _this.cheveningTab = <% - (user.scholar_details && user.scholar_details.is_scholar) ? true : false %>
            _this.personalDetails = <% - (user.personal_details && user.personal_details.full_name) ? true : false %>
              _this.identityDetails = <% - (user.identity && user.identity.identity_doc_type) ? true : false %>
                _this.activateTabStatus();
          // if (_this.cheveningTab && _this.personalDetails && _this.identityDetails) {
          if (_this.personalDetails && _this.identityDetails) {
            $('#kyc_process_backup').hide();
          } else {
            $('#kyc_process_backup').modal({ 'show': true, backdrop: 'static', keyboard: false });
          }
        },
        activateTabStatus: function () {
          console.log(" personal details ", _this.personalDetails, " identify details ", _this.identityDetails)
          // if (_this.cheveningTab) {
          //   _this.activateCheveningTab();
          // }
          if (_this.personalDetails) {
            _this.activatePersonalDetailsTab();
          }
          if (_this.identityDetails) {
            _this.activateIdentityDetailsTab();
          }
          if (_this.isAllTabsActive()) {
            $('.btn-dashboard').removeAttr("disabled");
          }
        },
        isAllTabsActive: function () {
          // if (_this.cheveningTab && _this.personalDetails && _this.identityDetails) return true;
          if (_this.personalDetails && _this.identityDetails) return true;
          return false;
        },
        activateIdentityDetailsTab: function () {
          let statusEl = $('.identity-tab-status').find('.status');
          $('.identity-tab-status').find('.img-status').removeClass("alert").addClass("check");
          $(statusEl).addClass("success").removeClass("pending");
          $(statusEl).text("Complete");
        },
        activatePersonalDetailsTab: function () {
          let statusEl = $('.personal-tab-status').find('.status');
          $(statusEl).addClass("success").removeClass("pending");
          $('.personal-tab-status').find('.img-status').removeClass("alert").addClass("check");
          $(statusEl).text("Complete");
        },
        // activateCheveningTab: function () {
        //   let statusEl = $('.chevening-tab-status').find('.status');
        //   $(statusEl).addClass("success").removeClass("pending");
        //   $('.chevening-tab-status').find('.img-status').removeClass("alert").addClass("check");
        //   $(statusEl).text("Complete");
        // },
        bindEvents: function () {
          //$(document).on('change', '.change-options', this.showNextStep);
          $(document).on('click', '.btn-scholar', this.processFormData);
          $(document).on('click', '.btn-personal-details', this.processPersonalDetails);
          $(document).on('submit', '#identityForm', this.identifyFormSubmit);
          $(document).on('change', 'input[name="scholar_group"]', this.changeGroup);
          //$('input[type=file]').change(_this.updateFileNames);
          $(document).on('click', '.kyc-tabs', this.updateVerficationStatus);
          $(document).on('click', '.btn-dashboard', this.gotoDashboard);
          $(document).on('change', '.fileupload', this.fileUploaded);
        },
        fileUploaded: function (e) {
          let closestEl = $(this).closest('.drop-document');
          let formGroupEl = $(this).closest('.form-group');
          let fileSize = _this.formatBytes(this.files[0].size);
          if (_this.isValidFileSize(fileSize)) {
            $(closestEl).find('.file-name').remove();
            $(formGroupEl).find('p span.error').empty();
            $(closestEl).append($('<div>', { 'class': 'file-name' }).text(e.target.files[0].name))
          } else {
            $(formGroupEl).find('p span.error').text("File Size Exceed: Please upload less than 100KB file");
          }
        },
        formatBytes: function (bytes, decimals) {
          if (bytes == 0) return '0 Bytes';
          var k = 1024,
            dm = decimals || 2,
            sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
            i = Math.floor(Math.log(bytes) / Math.log(k));
          return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
        },
        gotoDashboard: function (event) {
          event.preventDefault();
          if (_this.isAllTabsActive()) window.location.href = "/dashboard";
        },
        updateVerficationStatus: function () {
          _this.activateTabStatus();
        },
        updateFileNames: function (e) {

        },
        changeGroup: function () {
          var id = $(this).attr("id");
          $('.yes-options .form-group').addClass("hide");
          if (id == 'yes') {
            $('.yes-options .form-group').removeClass("hide");
          } else {
            $('.yes-options .form-group').last().removeClass("hide");
          }
        },
        isValidFileSize: function (fileSize) {
          //console.log(fileSize);
          if (fileSize.includes("Bytes")) {
            return true;
          } else if (fileSize.includes("KB")) {
            let size = fileSize.split(" ")[0];
            if (size <= 100) return true;
          }
          //if(fileSize.includes("Bytes") || fileSize.includes("KB")) return true;
          return false;
        },
        identifyFormSubmit: function (event) {
          event.preventDefault();
          let url = $(this).attr("action");
          let isValidForm = true;
          let text = $(this).find('.btn-custom').text();
          $(this).find('.btn-custom').empty();
          $(this).find('.btn-custom').append(
            $('<i class="fa fa-spin"></i>')
          )
          $('.fileupload').each(function (e) {
            if (this.files.length <= 0) return false;
            let fileSize = _this.formatBytes(this.files[0].size);
            if (!_this.isValidFileSize(fileSize)) isValidForm = false;
          });
          _this.currentEl = $(this);
          _this.identityDetails = true;
          if ($('.server-file-name').hasClass("server-file-name") && isValidForm) {
            _this.showNextTab();
          } else {
            console.log("Entere dinto lse loop", isValidForm);
            if (!isValidForm) return false;
            var formData = new FormData(this);
            _this.sendMultiPartData('POST', url, formData, _this.showNextTab);
          }
          $(this).find('.btn-custom').text(text);
        },
        processFormData: function (event) {
          event.preventDefault();
          let formEl = $(this).closest('form');
          let checked = $('input:radio[name="scholar_group"]:checked').attr("id");
          console.log(checked);
          let validateForm = false;
          if (checked == "yes") {
            if (_this.validateForm(formEl)) {
              validateForm = true;
            }
          } else {
            validateForm = true;
          }
          _this.currentEl = $(this);
          var data = _this.getFormData(formEl);
          var url = $(formEl).attr("action");
          _this.cheveningTab = true;
          _this.sendData('POST', url, data, _this.showNextTab);
        },
        processPersonalDetails: function (event) {
          event.preventDefault();
          let formEl = $(this).closest('form');
          if (_this.validateForm(formEl)) {
            _this.currentEl = $(this);
            var data = _this.getFormData(formEl);
            var url = $(formEl).attr("action");
            _this.personalDetails = true;
            _this.sendData('POST', url, data, _this.showNextTab);
          }
        },
        getFormData: function (formEl) {
          var data = {};
          $.each($(formEl).serializeArray(), function () {
            data[this.name] = this.value.trim();
          });
          return data;
        },
        validateForm: function (formEl) {
          let validateForm = true;
          $(formEl).find('input').each(function (e) {
            var val = $(this).val();
            if (!val || val.trim().length <= 0) {
              validateForm = false;
              $(this).focus();
              return false;
            } else {
              if ($(this).hasClass("number")) {
                val = parseInt(val);
                if (isNaN(val)) {
                  validateForm = false;
                  $(this).focus();
                  return false;
                }
              }
            }
          });
          return validateForm;
        },
        showNextTab: function (el) {
          console.log("Show next tab");
          var liEl = $('.custom-tabs ul li');
          var nextEl = $('.custom-tabs ul li.active').next();
          var id = $(nextEl).find('a').attr("data-id");
          if (id) {
            $('.tab-pane').removeClass("active");
            $(id).addClass("active");
            $(liEl).removeClass("active");
            $(nextEl).addClass("active");
            _this.activateTabStatus();
          }
        },
        showNextStep: function () {
          var el = $(this).closest('.form-group');
          $(el).next().removeClass('hide');
          if ($(el).next().find('.course').hasClass("course")) {
            $(el).parent().find('.form-group').removeClass('hide');
          }
        },
        restoreSettings: function () {
          $(document).ready(function (e) {
            var currentYear = new Date().getFullYear();
            for (var i = 1980; i < currentYear; i++) {
              $('.year').append(
                $('<option/>', {
                  'value': i
                }).text(i)
              );
            }
          });
          this.restoreScholarTab();
        },
        restoreScholarTab: function () {
          try {
          <% if (user.scholar_details) { %>
              let is_scholar = '<%= user.scholar_details.is_scholar %>';
              let year = '<%= user.scholar_details.year %>';
              let university = '<%= user.scholar_details.university %>';
              let course = '<%= user.scholar_details.course %>';
              let is_mentor = '<%= user.scholar_details.is_mentor %>';
              if (is_scholar == 'no') {
                $('.scholar-group[value="no"]').prop('checked', true);
                $('.yes-options .form-group').addClass("hide");
                $('.yes-options .form-group').last().removeClass("hide");
              } else {
                if (year) $('.year').val(year);
                if (university) $('.university').val(university);
                if (course) $('.course').val(course);
                if (is_mentor == 'no') {
                  $('.mentors_group[value="no"]').prop('checked', true);
                }
              }
          <% } %>
        } catch (e) {
            console.log(e);
          }
        },
        sendData: function (type, url, data, callback) {
          $.ajax({
            type: type,
            url: url,
            data: data,
            success: callback
          })
        },
        sendMultiPartData: function (type, url, formData, callback) {
          $.ajax({
            type: type,
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: callback,
            error: function (e) {
              _this.handleError(url);
            }
          });
        },
        handleError: function (url) {
          if (url.indexOf("identity") !== -1) _this.showNextTab();
        }
      }
      utils.init();
    </script>

    <%- include('../dashboard/partials/footer.ejs'); %>