<%- include('../dashboard/partials/header.ejs'); %>
<%- include('../dashboard/partials/navbar.ejs'); %>
<div class="container">
  <div class="referrals">
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <h2 class="text-center referrals-heading">Your Referral Stats</h2>
          <div class="referrals-body">
            <div class="stats-list">
              <div class="stats total-users">
                <img src="images/users.svg" alt="Users" title="Users" />
                <span>Total Users</span>
                <h4 class="text-large text-blue"><%= users_count %></h4>
              </div>
              <div class="stats total-purchases">
                <img src="images/cart.svg" alt="Purchases" title="Purcahses" />
                <span>Total Purchases</span>
                <h4 class="text-large text-blue">0</h4>
              </div>
              <div class="stats total-commission">
                <img src="images/storage.svg" alt="Commission" title="Commission" />
                <span>Total Commission</span>
                <h4 class="text-large text-blue">0 DEB</h4>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-md-6 col-md-offset-2"> 
              <h4 class="p-b-20">Referral URL</h4>
              <div class="referral-details">
                <input type="text" class="form-control" value="<%= referral_url %>"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../dashboard/partials/footer.ejs'); %>