  <footer>
    <div class="content text-center">
      &#169; Copyright 2018 Chevening Alumni Alliance - All Rights Reserved &nbsp; | &nbsp; <a href="/privacy">Privacy & Terms of Use</a>
      <div class="social-networks">
        <a href="https://www.facebook.com/officialchevening" class="fb"><img src="./images/fb.svg"></a>
        <a href="https://www.linkedin.com/groups/Official-Chevening-Scholars-Alumni-group-3369583/about" class="ln"><img src="./images/ln.svg"></a>
        <a href="https://twitter.com/cheveningfco" class="twitter"><img src="./images/twitter.svg"></a>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="./js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
</body>

</html>