<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <link rel="shortcut icon" href="images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>