<body>
  <!-- Fixed Navbar -->
  <nav class="navbar navbar-primary-header navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Chevening Coin</a> -->
        <a href="/"> 
          <div class="header-logo"></div>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true" style="display:none;">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
           <li><a href="/login">Login</a></li>
          <li><a href="/register">Get Involved<i class="right-arrow"></i></a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>