<%- include('./partials/header.ejs') %>

    <body class="layout-fixed">
        <div class="wrapper">

            <%- include('./partials/navBar.ejs') %>
                <%- include('./partials/offCanvasNav.ejs') %>

                    <!-- CONTENT-WRAPPER -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h3>Admin User Management</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary panelemail">
                                        <div class="panel-heading">
                                            <span class="text-capitalize">Add Admin User</span>
                                        </div>
                                        <div class="panel-body">
                                            <form>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <label>User Email Id</label>
                                                            <input class="form-control" type="email" name="email" />
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <label>Password</label>
                                                            <input class="form-control" type="text" name="password" />
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <label>&nbsp;</label>
                                                            <button class="btn btn-custom generatePassword">Generate Password</button>
                                                        </div>
                                                    </div>

                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-1">
                                                    <strong>
                                                        1
                                                    </strong>
                                                </div>
                                                <div class="col-sm-5">
                                                    <strong>
                                                        User Management
                                                    </strong>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>View</label>
                                                    <input type="checkbox" name="viewUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Edit</label>
                                                    <input type="checkbox" name="editUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <strong>
                                                        2
                                                    </strong>
                                                </div>
                                                <div class="col-sm-5">
                                                    <strong>
                                                        KYC Management
                                                    </strong>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>View</label>
                                                    <input type="checkbox" name="viewUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Edit</label>
                                                    <input type="checkbox" name="editUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Approve KYC</label>
                                                    <input type="checkbox" name="editUserManagement" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <strong>
                                                        3
                                                    </strong>
                                                </div>
                                                <div class="col-sm-5">
                                                    <strong>
                                                        Dashboard Setting
                                                    </strong>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>View</label>
                                                    <input type="checkbox" name="viewUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Edit</label>
                                                    <input type="checkbox" name="editUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <strong>
                                                        4
                                                    </strong>
                                                </div>
                                                <div class="col-sm-5">
                                                    <strong>
                                                        Cryptocurrency Management
                                                    </strong>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>View</label>
                                                    <input type="checkbox" name="viewUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Edit</label>
                                                    <input type="checkbox" name="editUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <strong>
                                                        5
                                                    </strong>
                                                </div>
                                                <div class="col-sm-5">
                                                    <strong>
                                                        Investment Management
                                                    </strong>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>View</label>
                                                    <input type="checkbox" name="viewUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Edit</label>
                                                    <input type="checkbox" name="editUserManagement" />
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                        </div>

                                        <div class="form-group text-center">
                                            <button class="btn btn-custom">Add</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <!-- END WRAPPER -->
        <%- include('./partials/footer.ejs') %>