<%- include('./partials/header.ejs') %>

    <body class="layout-fixed">
        <div class="wrapper">
            <%- include('./partials/navBar.ejs') %>
                <%- include('./partials/offCanvasNav.ejs') %>
                    <!-- CONTENT-WRAPPER -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h3></h3>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="row  text-center heading-bonus">
                                            <div class="d-flex">
                                                <h3>Add Bonus Period</h3>
                                            </div>
                                        </div>
                                        <div class="default-border-bottom">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="d-flex justify-content-around">
                                                        <div class="form-group col-sm-3">
                                                            <label for="first-name">Start Date</label>
                                                            <input type="date" class="form-control" placeholder="Start Date" />
                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            <label for="address">End Date</label>
                                                            <input type="date" class="form-control" placeholder="End Date" />
                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            <label for="address">Bonus Percentage (%)</label>
                                                            <input type="number" class="form-control" placeholder="Amount" />
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <button class="btn btn-custom btn-personal-details">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrapper noSpaceBonus">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h3></h3>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="row  text-center heading-bonus">
                                            <div class="d-flex">
                                                <h3>Available Bonus Periods</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead class="text-capitalize">
                                                            <tr>
                                                                <th>S.No.</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th>Bonus Percentage (%)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>02/08/2018</td>
                                                                <td>02/08/2018</td>
                                                                <td>10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>02/08/2018</td>
                                                                <td>02/08/2018</td>
                                                                <td>10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>02/08/2018</td>
                                                                <td>02/08/2018</td>
                                                                <td>10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>02/08/2018</td>
                                                                <td>02/08/2018</td>
                                                                <td>10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>02/08/2018</td>
                                                                <td>02/08/2018</td>
                                                                <td>10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>02/08/2018</td>
                                                                <td>02/08/2018</td>
                                                                <td>10</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WRAPPER -->
                    <%- include('./partials/footer.ejs') %>