<%- include('./partials/header.ejs') %>

    <body class="layout-fixed">
        <div class="wrapper">

            <%- include('./partials/navBar.ejs') %>
                <%- include('./partials/offCanvasNav.ejs') %>

                    <!-- CONTENT-WRAPPER -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="page-header">
                                <span>Cryptocurrency Management</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary panelemail">
                                        <div class="panel-heading">
                                            <span class="text-capitalize">Add New Cryptocurrency</span>
                                        </div>
                                        <div class="panel-body">
                                            <form>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <label>Name</label>
                                                            <input class="form-control" type="text" name="currencyName" />
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <label>Upload icon</label>
                                                            <input class="form-control" type="file" name="currencyIcon" />                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <label>Wallet Address</label>
                                                            <input class="form-control" type="text" name="walletAddress" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group text-center">
                                                    <button class="btn btn-custom">Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary panelemail">
                                        <div class="panel-heading">
                                            <span>History</span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-sm-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead class="text-capitalize">
                                                            <tr>
                                                                <th>S. No.</th>
                                                                <th>Icon</th>
                                                                <th>Name</th>
                                                                <th>Wallet Address</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="KYC-Users-list">
                                                                <td>1</td>
                                                                <td></td>
                                                                <td>Eather</td>
                                                                <td>http://dewber.com/abc/def</td>
                                                                <td>
                                                                    <button class="btn btn-success">Update</button>
                                                                    <button class="btn btn-danger">Delete</button>
                                                                </td>
                                                            </tr>
                                                            <tr class="KYC-Users-list">
                                                                <td>1</td>
                                                                <td></td>
                                                                <td>Eather</td>
                                                                <td>http://dewber.com/abc/def</td>
                                                                <td>
                                                                    <button class="btn btn-success">Update</button>
                                                                    <button class="btn btn-danger">Delete</button>
                                                                </td>
                                                            </tr>
                                                            <tr class="KYC-Users-list">
                                                                <td>1</td>
                                                                <td></td>
                                                                <td>Eather</td>
                                                                <td>http://dewber.com/abc/def</td>
                                                                <td>
                                                                    <button class="btn btn-success">Update</button>
                                                                    <button class="btn btn-danger">Delete</button>
                                                                </td>
                                                            </tr>
                                                            <tr class="KYC-Users-list">
                                                                <td>1</td>
                                                                <td></td>
                                                                <td>Eather</td>
                                                                <td>http://dewber.com/abc/def</td>
                                                                <td>
                                                                    <button class="btn btn-success">Update</button>
                                                                    <button class="btn btn-danger">Delete</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WRAPPER -->
                    <%- include('./partials/footer.ejs') %>