<%- include('./partials/header.ejs') %>

    <body class="layout-fixed">
        <div class="wrapper">

            <%- include('./partials/navBar.ejs') %>
                <%- include('./partials/offCanvasNav.ejs') %>

                    <!-- CONTENT-WRAPPER -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h3>Dashboard Settings</h3>
                            </div>
                            <div>
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <div class="col-sm-12">
                                            <div class="panel panel-primary panelemail">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <span>Refferal Management</span>
                                                    </div>
                                                </div>
                                                <div class="panel-body history">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label>Refferal Percentage</label>
                                                                <Input type="text" name="refferal" id="refferal" placeholder="" />
                                                                <button type="button" class="btn">Update</button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">

                                                            <h4 class="history">History</h4>
                                                            <table class="table table-striped table-hover table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Start Date</th>
                                                                        <th>End Date</th>
                                                                        <th>Percentage</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>24/11/2016</td>
                                                                        <td>24/01/2019</td>
                                                                        <td>50%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>11/11/2015</td>
                                                                        <td>14/10/2020</td>
                                                                        <td>94%</td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                <div>
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <div class="col-sm-12">
                                                <div class="panel panel-primary panelemail">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <span>Preffered Mode of Communication</span>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body history">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <label>Add prefferd mode of communication</label>
                                                                    <Input type="text" name="com" id="com" placeholder="" />
                                                                    <button type="submit" class="btn">Add</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">

                                                                <h4 class="history">Available mode of communiaction</h4>
                                                                <table class="table table-striped table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>S.No.</th>
                                                                            <th>Communication mode</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Telegram</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Whatsapp</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>Email</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>4</td>
                                                                            <td>Mobile No.</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div >
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <div class="col-sm-12">
                                                <div class="panel panel-primary panelemail">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <span>Proof of ID</span>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body history">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <label>Add proof of ID</label>
                                                                    <Input type="text" name="com" id="com" placeholder="" />
                                                                    <button type="submit" class="btn">Add</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">

                                                                <h4 class="history"></h4>
                                                                <table class="table table-striped table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>S.No.</th>
                                                                            <th>Proof of ID</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Passport</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Driving License</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>National photo ID</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <div class="col-sm-12">
                                                <div class="panel panel-primary panelemail">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <span>Proof of Address</span>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body history">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <label>Add proof of Address</label>
                                                                    <Input type="text" name="com" id="com" placeholder="" />
                                                                    <button type="submit" class="btn">Add</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">

                                                                <h4 class="history"></h4>
                                                                <table class="table table-striped table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>S.No.</th>
                                                                            <th>Proof of Address</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Bank statement</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Electricity bill</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>Water bill</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>4</td>
                                                                            <td>Council tax bill</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div >
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <div class="col-sm-12">
                                                <div class="panel panel-primary panelemail">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <span>Set Currency</span>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body history">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <label>Add Currency</label>
                                                                    <Input type="text" name="com" id="com" placeholder="" />
                                                                    <button type="submit" class="btn">Add</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">

                                                                <h4 class="history"></h4>
                                                                <table class="table table-striped table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>S.No.</th>
                                                                            <th>Currency</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>$</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-success but">Update</button>
                                                                                <button type="button" class="btn btn-danger">Delete</button></p>

                                                                            </td>
                                                                        </tr>                                                                       
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <div class="col-sm-12">
                                                <div class="panel panel-primary panelemail">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <span>Set dewber token value</span>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body history">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <label>1 DBR = </label>
                                                                    <Input type="text" name="com" id="com" placeholder="" />
                                                                    <button type="submit" class="btn">Update</button>
                                                                </div>
                                                            </div>
                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WRAPPER -->
                    <%- include('./partials/footer.ejs') %>