<%- include('./partials/header.ejs') %>

    <body class="layout-fixed">
        <div class="wrapper">

            <%- include('./partials/navBar.ejs') %>
                <%- include('./partials/offCanvasNav.ejs') %>

                    <!-- CONTENT-WRAPPER -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h3>Investment Management</h3>
                            </div>
                            <div class="row right">
                                <div class="col-sm-12">
                                    <span>Select all</span>
                                    <input type="checkbox" name="choose" />
                                    <button type="button" class="">Download</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class=" table-responsive white">
                                        <table class="table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>Sr No</td>
                                                    <td>Date
                                                    </td>
                                                    <td>First Name </td>
                                                    <td>Second Name </td>
                                                    <td>Email ID </td>
                                                    <td>Mode </td>
                                                    <td>details </td>
                                                    <td>ETH wallet addreess </td>
                                                    <td>copy ETH wallet address </td>
                                                    <td>referral investment ( Y/N) </td>
                                                    <td>Total users referred </td>
                                                    <td>Total users referral amount </td>
                                                    <td>Type of crypto coin invested </td>
                                                    <td>No of coins invested </td>
                                                    <td>Investment Bonus period (%) </td>
                                                    <td>Amount invested ($)</td>
                                                    <td>Investment + Bonus </td>
                                                    <td>Investment + Bonus +Referral (5%) </td>
                                                    <td>Total DBR token (1 DBR =$0.10)</td>
                                                    <td><input type="checkbox"> </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>02/02/2010 </td>
                                                    <td>Kunal</td>
                                                    <td>Bhardwaj</td>
                                                    <td>kunalb273@gmail.com</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>http://test.com/test</td>
                                                    <td>copy</td>
                                                    <td>Yes </td>
                                                    <td>2</td>
                                                    <td>1000</td>
                                                    <td>Bitcoin</td>
                                                    <td>2</td>
                                                    <td>10%</td>
                                                    <td>2500</td>
                                                    <td>3000</td>
                                                    <td>3200</td>
                                                    <td>32000</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class=" table-responsive">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    Total number of contributors
                                                                </td>
                                                                <td>
                                                                    10
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Total amount invested
                                                                </td>
                                                                <td>
                                                                    10
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Total amount investeted + Bonus
                                                                </td>
                                                                <td>
                                                                    10
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Total amount invested + bonus + referrral
                                                                </td>
                                                                <td>
                                                                    10
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Total dewber token awarded
                                                                </td>
                                                                <td>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>


        </div>
        </div>
        </div>
        <!-- END WRAPPER -->
        <%- include('./partials/footer.ejs') %>