<%- include('./partials/header.ejs') %>

    <body class="layout-fixed">
        <div class="wrapper">

            <%- include('./partials/navBar.ejs') %>
                <%- include('./partials/offCanvasNav.ejs') %>

                    <!-- CONTENT-WRAPPER -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h3>KYC Management</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-sm-12 d-flex">
                                                <button class="kyc-select-all" >Download</button>
                                                <input type="checkbox" id="kyc-select-all" class="kyc-select-all" />
                                                <label class="kyc-select-all">Select All</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead class="text-capitalize">
                                                        <tr>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Gender</th>
                                                            <th>D.O.B</th>
                                                            <th>Country</th>
                                                            <th>City</th>
                                                            <th>Address</th>
                                                            <th>Phone No / Mobile No</th>
                                                            <th>Email ID</th>
                                                            <th>Proof of ID</th>
                                                            <th>Proof of Address</th>
                                                            <th>KYC Status</th>
                                                            <th>Select</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="KYC-Users-list">
                                                            <td>Kunal</td>
                                                            <td>Bhardwaj</td>
                                                            <td>Male</td>
                                                            <td>24/11/1995</td>
                                                            <td>India</td>
                                                            <td>Delhi</td>
                                                            <td>D-16 Flat No 4, 2nd Floor, Chattarpur</td>
                                                            <td>9999705551</td>
                                                            <td>kunalb273@gmail.com</td>
                                                            <td>Licence</td>
                                                            <td>Electricity Bill</td>
                                                            <td>Yes</td>
                                                            <td><input type="checkbox" /></td>

                                                        </tr>
                                                        <tr class="KYC-Users-list">
                                                            <td>Kunal</td>
                                                            <td>Bhardwaj</td>
                                                            <td>Male</td>
                                                            <td>24/11/1995</td>
                                                            <td>India</td>
                                                            <td>Delhi</td>
                                                            <td>D-16 Flat No 4, 2nd Floor, Chattarpur</td>
                                                            <td>9999705551</td>
                                                            <td>kunalb273@gmail.com</td>
                                                            <td>Licence</td>
                                                            <td>Electricity Bill</td>
                                                            <td>Yes</td>
                                                            <td><input type="checkbox" /></td>

                                                        </tr>
                                                        <tr class="KYC-Users-list">
                                                            <td>Kunal</td>
                                                            <td>Bhardwaj</td>
                                                            <td>Male</td>
                                                            <td>24/11/1995</td>
                                                            <td>India</td>
                                                            <td>Delhi</td>
                                                            <td>D-16 Flat No 4, 2nd Floor, Chattarpur</td>
                                                            <td>9999705551</td>
                                                            <td>kunalb273@gmail.com</td>
                                                            <td>Licence</td>
                                                            <td>Electricity Bill</td>
                                                            <td>Yes</td>
                                                            <td><input type="checkbox" /></td>

                                                        </tr>
                                                        <tr class="KYC-Users-list">
                                                            <td>Kunal</td>
                                                            <td>Bhardwaj</td>
                                                            <td>Male</td>
                                                            <td>24/11/1995</td>
                                                            <td>India</td>
                                                            <td>Delhi</td>
                                                            <td>D-16 Flat No 4, 2nd Floor, Chattarpur</td>
                                                            <td>9999705551</td>
                                                            <td>kunalb273@gmail.com</td>
                                                            <td>Licence</td>
                                                            <td>Electricity Bill</td>
                                                            <td>Yes</td>
                                                            <td><input type="checkbox" /></td>

                                                        </tr>
                                                    </tbody>
                                                    <!-- <tbody>
                                                        <% list.forEach(function(item){ %>
                                                            <tr class="Users-list">
                                                                <td>
                                                                    <%= item.first_name %>
                                                                </td>
                                                                <td>
                                                                    <%= item.last_name %>
                                                                </td>
                                                                <td class="user-email">
                                                                    <%= item.email %>
                                                                </td>
                                                                <td>
                                                                    <%=item.personal_details.mobile_number %>
                                                                </td>
                                                                <td>
                                                                    <%=item.personal_details.preferredModeOfCommunication %>
                                                                </td>
                                                                <td>
                                                                    <%=item.personal_details.address %>
                                                                </td>
                                                                <td>
                                                                    <%= item.referral_id %>
                                                                </td>
                                                                <td>
                                                                    <%=item.reference_id %>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                    </tbody> -->
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WRAPPER -->
                    <%- include('./partials/footer.ejs') %>