<%- include('./partials/header.ejs') %>

    <body class="layout-fixed">
        <div class="wrapper">

            <%- include('./partials/navBar.ejs') %>
                <%- include('./partials/offCanvasNav.ejs') %>

                    <!-- CONTENT-WRAPPER -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h3>Users Details</h3>
                            </div>
                            <div class="card">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <div class="row gap">
                                            <div class="col-sm-3">
                                                <Label>First Name</Label>
                                                <p>Kunal</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <Label>Last Name</Label>
                                                <p>Bhardwaj</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <Label>Gender</Label>
                                                <p>Male</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <Label>D.O.B</Label>
                                                <p>24/11/1995</p>
                                            </div>
                                        </div>
                                        <div class="row gap">
                                            <div class="col-sm-2">
                                                <Label>Country</Label>
                                                <p>India</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <Label>State</Label>
                                                <p>Haryana</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <Label>City</Label>
                                                <p>Delhi</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <Label>Address</Label>
                                                <p>D-16,rover building,delhi</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <Label>Mobile</Label>
                                                <p>8587806878</p>
                                            </div>

                                        </div>
                                        <div class="row gap">
                                            <div class="col-sm-4">
                                                <Label>Registration via Referral</Label>
                                                <p>Yes</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <Label>User refferal link</Label>
                                                <p>
                                                    <Input type="text" rows="6" name="refferal_link" id="refferal_link" placeholder="Enter link here" value="http://dewber.com/ref?=hagudecapi"
                                                        class="modify" />
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <Label>Reffered by</Label>
                                                <p>Nishant Bhadana</p>
                                            </div>
                                        </div>
                                        <div class="row gap">
                                            <div class="col-sm-4">
                                                <Label>Proof of ID</Label>
                                                <p><img src="/assets/images/avatar.png" alt="face"></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <Label>Proof of Address</Label>
                                                <p><img src="/assets/images/avatar.png" alt="face"></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <Label>Upload KYC Report</Label>
                                                <p><input type="file" name="pic" accept="image/*"></p>
                                            </div>
                                        </div>
                                        <div class="row gap">
                                            <div class="col-sm-2">
                                                <Label>KYC status</Label>
                                                <p>Approved</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <Label>Show status</Label>
                                                <p>Approved</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <Label>KYC approval</Label>
                                                <p>
                                                    <button type="button" class="btn btn-success">Approved</button>
                                                    <button type="button" class="btn btn-danger">Rejected</button></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn">Download User Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WRAPPER -->
                    <%- include('./partials/footer.ejs') %>