<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12  xs-text-center">
                <div class="col-md-7 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#">Cookie Policy</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Token sale agreement</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 col-xs-12">
                    <ul class="pull-right xs-no-float">
                        <li>
                            Copyright © 2018
                        </li>
                        <li>
                            Dewber Ltd
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
</div>
<script src="/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/custom.js" type="text/javascript"></script>
</body>
</html>