<header class="topnavbar-wrapper">
    <nav class="navbar topnavbar" role="navigation">
        <!-- NAV HEADER -->
                <ul class="nav navbar-nav navbar-toggle-icon">
                    <li>
                        <a href="javascript:void(0)" data-trigger-resize="" data-toggle-state="aside-collapsed">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
        <div class="navbar-header text-center">
            <a href="/admin/dashboard">
                <div class="header-logo"></div>
            </a>
        </div>
        <!-- END NAV HEADER -->
        <!-- NAV WRAPPER -->
        <!-- <ul class="nav navbar-nav navbar-toggle-icon">
            <li>
                <a href="javascript:void(0)" data-trigger-resize="" data-toggle-state="aside-collapsed">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0)">
                    <%= user.first_name %>
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" type="button" data-toggle="dropdown">
                    <img src="/assets/images/avatar.png" class="user-profile-img-thumb">
                </a>
                <ul class="dropdown-menu cls">
                    <li><a href="/accounts"><i class="icon-cog"></i> Accounts & Settings</a></li>
                    <li><a href="/logout"><i class="icon-cog"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- END NAV WRAPPER -->
    </nav>
</header>