<!-- OFF CANVAS -->
<aside class="aside">
    <div class="aside-inner">
        <nav class="sidebar" data-sidebar-anyclick-close="">
            <ul class="nav-menu">
                <li>
                    <a href="/admin/dashboard" title="User Master">
                        <em class="material-icons">dashboard</em>
                        <span>User Master</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/kyc-management" title="KYC Management">
                        <em class="material-icons">assignment_ind</em>
                        <span>KYC Management</span>
                    </a>
                    <!-- <ul id="ReferralManagement" class="nav sidebar-subnav collapse">
                                <li>
                                    <a href="#" title="My Open Issues">
                                        <span>My Open Issues</span>
                                    </a>
                                </li>
                            </ul> -->
                </li>
                <li class="">
                    <a href="/admin/dashboard-settings" title="Dashboard Settings">
                        <em class="material-icons">settings</em>
                        <span>Dashboard Settings</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/bonus-management" title="Bonus Management">
                        <em class="material-icons">add_shopping_cart</em>
                        <span>Bonus Management</span>
                    </a>
                </li>
                <!-- <li class="">
                    <a href="/admin/referral-management" title="Referral Management">
                        <em class="material-icons">face</em>
                        <span>Referral Management</span>
                    </a>
                </li> -->
                <li class="">
                    <a href="/admin/cryptocurreny-management" title="Cryptocurrency Management">
                        <em class="material-icons">attach_money</em>
                        <span>Cryptocurrency Management</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/investor-master" title="Create Issue">
                        <em class="material-icons">assignment</em>
                        <span>Investor Master</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin//admin-user-management" title="Admin User MAnagement">
                        <em class="material-icons">dashboard</em>
                        <span>Admin Users</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END OFF CANVAS -->