body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #656D7B;
  background: #f5f8fa;
  line-height: 19px;
  letter-spacing: .2px;
}

label {
  font-size: 14px;
}

p {
  margin-bottom: 10px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-30 {
  margin-right: 30px;
}

.inline-block {
  display: inline-block;
}

.btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
  bottom: -10px;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}

.btn-toggle>.handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active>.handle {
  left: 1.6875rem;
  transition: left .25s;
}

.btn-toggle.active:before {
  opacity: .5;
}

.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}

.btn-toggle.active {
  background-color: #29b5a8;
}

.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}

.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}

/*
.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}

.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: .5;
}
*/

.btn-toggle.btn-lg>.handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left .25s;
}

.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}

.btn-toggle.btn-lg.active>.handle {
  left: 2.8125rem;
  transition: left .25s;
}

.btn-toggle.btn-lg.active:before {
  opacity: .5;
}

.btn-toggle.btn-lg.active:after {
  opacity: 1;
}

.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.6875rem;
  width: 3.875rem;
}

.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}

.navbar-primary-header {
  font-size: 18px;
}

.header ul {
  margin: 0px;
  padding: 0px;
}

.header .store-nav li a {
  color: #2da5f1;
  font-size: 1em;
  margin-right: 0px;
}

.header .user-navigation ul a {
  margin: 0px;
}

.header .navbar-toggle {
  border-color: #ddd;
}

.navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-primary-header .header {
  /*display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  */
}

.navbar-primary-header .navigation {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 0 0 5.5vmin;
  letter-spacing: -.2.5px;
  align-items: center !important;
}

.navbar-primary-header .navigation a {
  margin: 0px 25px;
}

.user-navigation .open>a,
.user-navigation .open>a:focus,
.user-navigation .open>a:hover {
  background-color: transparent;
}

.user-navigation .dropdown-menu {
  top: 56px;
  /*left: -40px;*/
}

.user-navigation .dropdown-menu li a {
  padding: 11px 23px;
  border-bottom: 1px solid #e7ecf1;
  color: #647178 !important;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 18px;
  white-space: nowrap;
  font-size: 14px;
}

.user-navigation .dropdown-menu li:last-child a {
  border-bottom: none;
}

.panel h4.blue {
  color: rgb(6, 103, 208);
  font-weight: 500;
}

.panel h4.title {
  font-size: 15px;
  font-weight: 500;
  color: rgb(125, 149, 182);
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
}

.panel-heading {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.panel-heading.no-border {
  border: 0px;
}

/*
Dashboard 
*/

.sidebar {
  position: fixed;
  top: 68px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #eee;
  width: 180px;
}

.sidebar li a {
  color: #656D7B;
  font-size: 16px;
}

.sidebar li.active a {
  color: #2F3BC6;
}

.sidebar li a:hover,
.sidebar li a:acitve,
.sidebar li a:focus {
  color: rgb(6, 103, 208);
}

.sidebar li a img {
  margin: 0px 5px;
}

.main {
  /*padding-right: 40px;
  padding-left: 220px;*/
  padding: 20px 40px 0px 40px;
  /*position: relative;
  top: 73px;
  */
}

.result {
  margin-left: 10px;
  font-size: 15px;
  position: relative;
  top: 5px;
}

.result.success {
  color: green;
}

.error {
  margin-left: 20px;
  font-size: 14px;
  color: red;
}

.btn-js {
  background: #f7f9fc !important;
  box-shadow: 0 0 0 rgba(82, 95, 127, .03), 0 2px 5px rgba(49, 49, 93, .1), 0 1px 2px rgba(0, 0, 0, .0008) !important;
  border-radius: 3px !important;
  padding: 5px 11px !important;
  border: none !important;
  transition: .3s all linear;
  font-family: Avenir;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -.513908px;
  color: #647178;
}

.btn-js:hover,
.btn-js:active,
.btn-js:focus {
  transition: all .3s;
  text-decoration: none !important;
  color: #647178 !important;
  -webkit-box-shadow: 0 4px 16px 0 rgba(190, 190, 190, .45) !important;
  box-shadow: 0 4px 16px 0 rgba(190, 190, 190, .45) !important;
  outline: 0 !important;
}

.text-blue {
  color: #32a2e8;
}

.text-red {
  color: #ff0000;
}

.panel {
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(30, 31, 34, .06);
  box-shadow: 0 1px 5px 0 rgba(30, 31, 34, .06);
  background: #fff;
  border: 1px solid #e0e5ec;
}

/* Dashboard */

.current-price .text-large {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}

.current-price p {
  margin-bottom: 10px;
}

.current-price p:first-child {
  color: #7a869a;
  font-weight: 500;
  font-size: 16px;
}

.current-price .currency-symbol {
  position: relative;
  top: -4px;
  left: 1px;
}

.panel h3 {
  width: 100%;
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-start {
  justify-content: flex-start !important;
  -ms-flex-pack: start !important;
}

img.font-awesome {
  max-width: 15px;
  position: relative;
  top: -5px;
}

.default-border-top {
  border-top: 1px solid #e0e5ec;
}

.default-border-bottom {
  border-bottom: 1px solid #e0e5ec;
}

.default-border-right {
  border-right: 1px solid #e0e5ec;
}

.default-border {
  border: 1px solid #e0e5ec;
}

.text-large {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}

.text-gray {
  color: #7a869a;
}

.text-black {
  color: #000;
}

.contributors {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 30px 0 7px;
  border-right: 1px solid #e0e5ec;
}

.contributors p,
.funds-collected p {
  margin-bottom: 10px;
}

.currency-symbol {
  position: relative;
  top: -5px;
}

.contributors p:first-child {
  font-weight: 600;
  color: #7a869a;
}

.funds-collected {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 30px 0 7px;
}

.token-balance {
  line-height: 2.8;
}

.user-eth {
  padding-bottom: 32px;
}

.eth-details {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.eth-details input {
  height: 45px;
}

.eth-details input,
.eth-details input::-webkit-input-placeholder {
  font-size: 16px;
  color: #656D7B;
  letter-spacing: 0.6px;
}

.btn-secondary {
  min-height: 42px;
  min-width: 120px;
  line-height: 30px;
  border: 1px solid #2da5f1 !important;
  color: #2da5f1 !important;
}

.btn-secondary.fill {
  background: #2da5f1 !important;
  color: #fff !important;
}

.btn-cancel {
  margin: 0px 10px;
}

.btn-secondary:disabled {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.accepted-payments {
  padding: 20px 0px;
  flex-wrap: wrap;
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.payment-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100px;
  margin: 20px 0px;
}

.payment-methods {
  flex-wrap: wrap;
}

.payment-methods .payment-method {
  min-width: 130px;
  padding: 0px 14px;
}

.payment-method .payment-icon {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
}

.payment-icon:before {
  content: "";
  background: #2da5f1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .13;
  z-index: -1;
}

.progress-data {
  background: #fff;
  padding: 2.5vmin;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  margin-bottom: 3.1vmin;
}

.progress-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #2da5f1;
}

.progress-stats:last-child {
  width: 0;
}

.progress-stats-inner {
  position: relative;
  background: #e0e5ec;
  width: 100%;
  height: 9px;
  margin: 0 5px .2vmin;
}

.progress-stats.finish .progress-stats-inner:before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 75px;
  top: -26px;
  background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(25%, rgba(45, 165, 241, .72)), color-stop(26%, rgba(45, 165, 241, .75)), color-stop(50%, #2da5f1), color-stop(75%, rgba(45, 165, 241, .75)), to(hsla(0, 0%, 100%, 0)));
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, rgba(45, 165, 241, .72) 25%, rgba(45, 165, 241, .75) 26%, #2da5f1 50%, rgba(45, 165, 241, .75) 75%, hsla(0, 0%, 100%, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#00ffffff", GradientType=0);
  z-index: 1;
}

.progress-stats-inner:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #2da5f1;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(45, 165, 241, .38);
  box-shadow: 0 2px 4px 0 rgba(45, 165, 241, .38);
}

.progress-stats.finish .progress-stats-inner:after {
  left: -11px;
  top: 10px;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(45, 165, 241, .42);
  box-shadow: 0 2px 4px 0 rgba(45, 165, 241, .42);
  border: 3px solid #e5f6ff;
  z-index: 1;
}

.progress-stats-bar {
  display: block;
  height: 100%;
  width: 100%;
  background: #2da5f1;
  -webkit-box-shadow: 0 2px 8px 0 rgba(45, 165, 241, .42);
  box-shadow: 0 2px 8px 0 rgba(45, 165, 241, .42);
  height: calc(100% + 0px);
}

/*Accounts settings */

.enable-google-2fa .tab-content {
  border: 1px solid #ddd;
  border-top: 0px;
  margin-bottom: 30px;
}

.enable-google-2fa .tab-pane {
  max-width: 100% !important;
  min-height: 300px;
}

.enable-google-2fa .align-items-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.qr-code {
  width: 169px;
  border: 1px solid #e6e6e6;
  display: inline-block;
}

.qr-code img {
  max-width: 100%;
}

.secretkey-details {
  margin-left: 15px;
}

.secretkey {
  padding: 20px 0px;
}

.secretkey span {
  padding: 10px;
  background: #ddd;
}

.secretkey-note {
  margin-left: 20px;
}

.default .tab-pane {
  max-width: 100% !important;
}

.default .tab-pane .bg-white.default-border {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0px;
}

.referrals {
  min-height: 75vh;
  margin: 0px 0px auto;
}

.referrals-body {
  margin: 15px 0px 60px 0px;
}

.referrals-heading {
  padding: 30px 0px;
}

.referrals .stats-list {
  max-width: 900px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  padding: 0 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.referrals .stats-list .stats {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 140px;
  border-radius: 6px;
  background-color: #f9fcff;
  border: 1px solid #8dd2fd;
  margin: 15px;
  padding: 15px 0;
}

.referrals .stats-list .stats img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  width: 45px;
  height: 35px;
}

.stats-list .stats span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .2px;
  color: #2d3034;
  text-align: center;
  display: block;
  margin: 10px 0px;
  line-height: 1.5;
}

#choose_payment_modal .headig {
  font-size: 14px;
}

#choose_payment_modal .headig h2 {
  margin: 20px 0px;
}

#choose_payment_modal .modal-body {
  padding: 15px 30px;
}

#choose_payment_modal .payment-methods {
  margin: 25px 0px;
}

#choose_payment_modal .payment-footer {
  padding: 15px;
}

#choose_payment_modal .payment-footer .btn-next {
  margin: 0px 25px;
}

footer {
  background: transparent;
  letter-spacing: 0.2px;
}

footer ul {
  margin: 10px 0px;
  padding: 0px;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
  font-size: 17px;
}

footer ul li a {
  color: #4baae4;
}

@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  .progress-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 215px;
    padding: .5vmin 7.4vmin .5vmin 5.8vmin;
  }
  .progress-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .progress-stats:not(:last-child) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
  }
  .progress-stats-inner:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: -5px;
  }
}

@media only screen and (max-width: 767px) {
  .xs-hide {
    display: none;
  }
  .xs-no-float {
    float: none !important;
  }
  .store-nav li a,
  .header .navbar-right {
    margin: 0px !important;
  }
  .progress-stats {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 8vh;
  }
  .progress-stats-inner {
    height: 100% !important;
  }
  .progress-stats-inner::after {
    left: -4px;
    top: -4px;
  }
  .progress-stats>span:first-child {
    text-align: right;
  }
  .progress-stats>span:last-child {
    width: auto;
    text-align: left;
  }
  .progress-stats:last-child {
    width: auto;
  }
  .progress-stats .progress-stats-inner {
    width: 9px;
    margin: 0 40px;
  }
  .progress-stats.finish .progress-stats-inner:before {
    transform: translateY(-50%) rotate(90deg);
    top: 9px;
  }
  .progress-stats.finish .progress-stats-inner:after {
    left: -8px;
    top: -2px;
  }
  .progress-stats.finish .progress-stats-inner {
    height: 0px !important;
  }
}

@media (max-width: 600px) {
  .xs-pull-left {
    float: left !important;
  }
  .xs-no-float {
    float: none !important;
  }
  .xs-text-center {
    text-align: center;
  }
  footer ul {
    margin: 0px;
  }
  footer ul li {
    display: block;
    padding: 5px 0px;
  }
}