body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

body.home {
  color: #656D7B;
  background: url(../images/background.svg) no-repeat;
  background-size: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 300;
  color: #101240;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.14em;
}

p {
  font-weight: 200;
  margin-bottom: 40px;
}

a:focus,
a:hover {
  text-decoration: none;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

ul.plain {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.inline-block li {
  display: inline-block;
}

.m-r-20 {
  margin-right: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-15 {
  margin-left: 15px;
}

p.small {
  font-size: 11px;
}

.navbar-primary-header {
  /*border-bottom: 1px solid rgba(57, 71, 232, 0.1);
  background: #F2F5F9;
  */
  background: #fff;
  border-bottom: 1px solid #e0e5ec;
  -webkit-box-shadow: 0 0 8px 0 rgba(30, 31, 34, .15);
  box-shadow: 0 0 8px 0 rgba(30, 31, 34, .15);
}

.navbar-primary-header .container {
  /*padding: 0.55em;*/
  padding: 0.9em 0.7em;
}

.navbar-primary-header .navbar-header {
  padding-top: 5px;
}

.header-logo {
  cursor: pointer;
  /*background: url(../images/logo.png) no-repeat;*/
  background: url(../images/Logo.jpg) no-repeat;
  /*height: 40px;
  width: 123px;
  background-position: -19px -16px;
  */
  height: 40px;
  width: 150px;
  background-position: 0px;
  background-size: 80%;
  letter-spacing: 0.3px;
}

.navbar-primary-header ul li a {
  font-size: 0.8em;
  color: #656D7B;
  transition: color .5s ease;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background: transparent;
  color: #2F3BC6;
}

.pg-wrapper {
  padding-top: 120px;
  padding-bottom: 50px;
}

.auth {
  max-width: 337px;
  margin: 0px auto;
}

.auth h1 {
  padding-bottom: 30px;
  color: #4e5182;
}

.right-arrow {
  background: url(../images/arrow.svg) no-repeat;
  height: 10px;
  width: 12px;
  display: -webkit-inline-box;
  margin-left: 10px;
}

.right-arrow-white {
  background: url(../images/arrow-white.svg) no-repeat;
  height: 10px;
  width: 12px;
  display: -webkit-inline-box;
  margin-left: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #4a5c90;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.masthead {
  /*padding-top: 170px;*/
  padding-top: 220px;
}

.m-t-100 {
  margin-top: 100px;
}

header h4 {
  width: 760px;
  margin: 0 auto;
  padding: 16px 0;
  line-height: 1.4;
  color: #4B4F84;
}

.btn-apply {
  cursor: pointer;
  height: 60px;
  width: 252px;
  border-radius: 4px;
  background: #2932a3;
  color: #ECF0F4;
  border: none;
  font-size: 1.1em;
  line-height: 2;
  font-weight: normal;
  transition: background .5s ease;
}

.btn-apply:hover,
.btn-apply:focus,
.btn-apply:active {
  background: #2F3BC6;
  color: #ECF0F4;
}

header .btn-apply {
  margin-bottom: 40px;
  margin-top: 40px;
}

header h3 {
  line-height: 1.4;
  max-width: 100%;
}

.window {
  width: 70%;
  margin: 0px auto;
  max-width: 450px;
  /*border-radius: 7px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 4px 20px 0 rgba(57, 71, 232, 0.1);*/
}

#technology {
  padding: 150px 0 50px 0px;
}

#technology h4 {
  display: none;
  font-size: 1.2em;
  width: 760px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
}

.box {
  background: white;
  padding: 62px 30px;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(57, 71, 232, 0.1);
  height: 400px;
}

#technology .img-global {
  background: url(../images/global.svg) no-repeat;
}

#technology .img-safe {
  background: url(../images/expert.png) no-repeat;
  background-size: 100%;
}

#technology .img-easy {
  background: url(../images/easy.svg) no-repeat;
}

#technology .box>div {
  height: 55px;
  width: 45px;
  display: inherit;
  margin: 0 auto;
  padding-bottom: 16px;
}

#technology h2,
#security h2 {
  margin-bottom: 26px;
}

#sale>.container>.row>.col-md-12 {
  padding-top: 150px;
}

#sale>.container>.row>.col-md-12:last-child {
  padding-bottom: 150px;
  border-bottom: 1px solid rgba(57, 71, 232, 0.1)
}

.seurity-content {
  padding: 100px 0px;
  margin: 0 auto;
  text-align: center;
  width: 520px;
}

#apply {
  background: #F3F6F9;
  padding: 110px 0px 120px 0px;
}

#kyc_process {
  font-size: 18px;
  color: #4e5182;
  overflow-x: hidden;
  padding-top: 85px;
}

#kyc_process h3,
#kyc_process h4,
.auth {
  color: #4e5182;
}

#kyc_process p {
  margin-bottom: 10px;
}

.custom-tabs ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.custom-tabs ul li {
  display: inline-block;
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin-left: 12px;
  font-size: 12px;
  line-height: 36px;
  padding: 4px 30px;
  position: relative;
  background: transparent;
  color: #e91e63;
  min-width: 150px;
  border-top: 2px solid #e9ebfa;
  border-bottom: 2px solid #e9ebfa;
  transition: background 0.5s;
}

.custom-tabs ul li a {
  font-size: 15px;
}

.custom-tabs ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -22px;
  width: 45px;
  height: 45px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  border-radius: 0 0px 0 50px;
  background: #f6f8fc;
  transition: background 0.5s;
  box-shadow: 2px -2px 0 2px #e9ebfa;
}

.custom-tabs ul li::after {
  content: '';
  position: absolute;
  top: 0;
  right: -21px;
  width: 45px;
  height: 45px;
  transform: scale(0.707) rotate(45deg);
  z-index: 10;
  border-radius: 0 0px 0 50px;
  background: #f6f8fc;
  transition: background 0.5s;
  box-shadow: 2px -2px 0 2px #e9ebfa;
}

.custom-tabs ul li:first-child {
  border-left: 2px solid #e9ebfa;
}

.custom-tabs ul li:last-child {
  border-right: 2px solid #e9ebfa;
}

.custom-tabs ul li:first-child::before {
  content: none;
}

.custom-tabs ul li:last-child::after {
  content: none;
}

.custom-tabs ul li.active {
  background: #f6f8fc;
  border-color: #4a5c90;
}

.custom-tabs ul li.active::after {
  box-shadow: 1.5px -1.5px 0 1.5px #4a5c90;
}

.custom-tabs ul li.active::before {
  box-shadow: 1.5px -1.5px 0 1.5px #4a5c90;
}

.tab-pane,
h3 {
  max-width: 500px;
  margin: 0px auto;
}

.accounts h3 {
  max-width: 100%;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-custom {
  background: #42558B;
  color: #fff;
  padding: 10px;
  min-width: 200px;
  font-weight: 200;
  font-size: 15px;
  margin: 20px 0px;
}

.auth .btn-custom {
  min-width: 120px;
  padding: 8px;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  background: #374775;
  color: #fff;
}

.drop-document {
  text-align: center;
  padding: 10px;
  border: 2px dashed;
  position: relative;
}

.drop-document input[type="file"] {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-document span {
  color: #5a5959;
  font-size: 14px;
}

#verification h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#verification .col-md-6 {
  margin-top: 20px;
}

.g-recaptcha>div {
  width: 100% !important;
}

.contribution-box {
  padding: 20px;
  background: #eaebfe;
  border-radius: 4px;
  font-size: 15px;
  color: #337ab7;
}

.contribution-box .check {
  background: url(../images/tick.png) no-repeat;
  height: 55px;
  width: 35px;
  background-size: 25px;
  margin: 0 auto;
  top: 5px;
  position: relative;
  float: left;
}

.contribution-box .alert {
  background: url(../images/pending.png) no-repeat;
  height: 55px;
  width: 35px;
  background-size: 25px;
  margin: 0 auto;
  top: 5px;
  position: relative;
  float: left;
}

.contribution-box .heading {
  font-weight: 400;
  font-size: 1.2em;
}

.contribution-box .status {
  font-style: italic;
}

.contribution-box .status.success {
  color: green;
}

.contribution-box .status.pending {
  color: red;
}

.p-120 {
  padding-top: 120px;
}

#privacy h4 {
  font-weight: 500;
}

footer {
  /*background-color: #f5f5f5;*/
  background-color: #ffffff;
  border-color: #4b4c4d;
  border-top-width: 0px;
  padding: 30px 0px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgb(178, 183, 184);
}

footer .social-networks {
  margin-top: 20px;
}

footer .social-networks a {
  color: #023964;
  border-color: #ffffff;
  /*border-radius: 60px;
  background-color: #ffffff;
  */
  padding: 10px;
  width: calc(23px + (2 * 10px) + 2px);
}

footer .social-networks a.fb img {
  max-width: 35px;
}

footer .social-networks a.ln img {
  max-width: 35px;
}

footer .social-networks a.twitter img {
  max-width: 35px;
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    background-size: 150%;
    font-size: 18px;
  }
  .sm-text-center {
    text-align: center;
  }
  .box {
    padding: 42px 20px;
    height: 300px;
    margin-bottom: 20px;
  }
  .img-responsive {
    max-width: 85%;
    margin: 0px auto;
  }
  #sale>.container>.row>.col-md-12 {
    padding-top: 100px;
  }
  .seurity-content {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  body {
    background-size: 350%;
    font-size: 15px;
  }
  .sm-text-center {
    text-align: center;
  }
  .header-logo {
    margin-left: 20px;
  }
  header {
    padding-top: 80px;
  }
  header h4,
  #technology h4 {
    width: 100%;
  }
  .img-responsive {
    /*max-width: 80%;
    margin: 0px auto;*/
  }
  .box {
    padding: 32px 20px;
    margin-bottom: 20px;
    height: 250px;
  }
  #sale>.container>.row>.col-md-12 {
    padding-top: 50px;
  }
  .seurity-content {
    width: 90%;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .custom-tabs ul li {
    min-width: 150px;
  }
  .main {
    padding: 0px 40px;
    /*
    padding-right: 40px;
    padding-left: 220px;
    */
    /* 180 + 40 */
  }
  footer {
    padding: 25px;
  }
}

@media (max-width: 1127px) {}

@media (min-width: 768px) and (max-width: 1450px) {}