<%- include('../home/partials/header') %>
<%- include('../home/partials/navbar') %>
  <section id="about-page" class="p-120">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="m-b-20">About</h2>
        </div>
        <div class="col-md-12">
          <p>
            The Chevening Alumni Fund supports start-ups and growing companies that are able to generate financial returns and meaningful social impact.
          </p>
          <p>
            The Fund will provide financing and mentorship to bright entrepreneurs through an international collaborative community built around the Chevening Alumni network. The Chevening Alumni network is made up of over 50,000 people in 145 countries who have
            benefited from a Chevening Award.
          </p>
          <p>
            Since 1983, the Chevening Award provides leaders from all over the world the unique opportunity to advance academically, develop professionally, and build networks through scholarships and fellowships funded by the UK’s Foreign and Commonwealth Office
            and partner organisations.
          </p>
          <p>
            The Chevening Alumni collectively have an excellent record of rising to positions of leadership across a wide range of fields including politics and government, business, law, the media, civil society, and academia.
          </p>
          <p>
            For more information: <a href="http://www.chevening.org" target="_blank">www.chevening.org</a>
          </p>
          <h2 class="m-b-20">Mission</h2>
          <p>
            Provide funding and mentorship to talented entrepreneurs around the world that can innovate, create wealth, positively impact their communities and change the world we live in.
          </p>
        </div>

      </div>
    </div>
  </section>
  <%- include('../home/partials/footer') %>