  <%- include('../home/partials/header.ejs') %>
  <%- include('../home/partials/navbar.ejs') %>
  <header class="masthead text-center ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>A Fund for Economic Growth and Social Change</h1>
          <h4>
                Investing and mentoring future business leaders of the world
          </h4>
          <a class="btn btn-apply" href="/registration">Get Involved<i class="right-arrow-white"></i></a>
        </div>
        <div class="col-md-12 m-t-100">
          <div class="col-md-8 no-padding">
            <h3 class="text-center">
              The Chevening Alumni Fund invest in businesses that can achieve high commercial returns, create wealth, promote innovation, and produce meaningful social impact.
            </h3>
          </div>
          <div class="col-md-4">
            <div class="window">
              <img class="img-responsive" src="./images/chevening_screen.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="technology">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">
            The Chevening Alumni Fund invest in businesses that can achieve high commercial returns, create wealth, promote innovation, and produce meaningful social impact.
          </h4>
          <div class="col-md-4">
            <div class="box">
              <div class="img-global"></div>
              <h2>Global</h2>
              <p>
                The Chevening Alumni Fund is built around network of over 50,000 highly skilled individuals living and working in 145 countries.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-safe"></div>
              <h2>Proven Track Record</h2>
              <p>
                The fund will be managed by well known social venture capitalists.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-easy"></div>
              <h2>Easy</h2>
              <p>
                The Chevening Alumni Fund leverages blockchain technology for a transparent, frictionless and cost effective participation from people from all continents.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sale" style="display:none;">
    <div class="container sm-text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="caption">
              <h2>Sale process</h2>
              <p>Coral offers the general public a simple interface to buy your tokens using a pre-registered address.</p>
              <p>Coral’s token sale supports a wide range of crowdsale implementations, including per-user investment caps, vestings, discounts, and dynamic pricing.</p>
            </div>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="./images/sale-1.png">
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <img class="img-responsive" src="./images/registration-1.png">
          </div>
          <div class="col-md-6">
            <div class="caption">
              <h2>Registration process</h2>
              <p>Use Coral to have your sale participants register before the token sale, to help you comply with legal KYC/AML requirements.</p>
              <p>All data requested from the participants is entirely customizable, and can range from basic personal information to scans of legal documents.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="caption">
              <h2>Pre-sale process</h2>
              <p>Tokens are usually offered privately before the public sale begins.</p>
              <p>Use Coral to allow early participants to purchase tokens before opening the sale to the general public.</p>
              <p>Funds are locked in a smart contract and automatically sent to the token sale smart contract before the opening date.</p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="./images/presale-3.png" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="security">
    <div class="container text-center">
      <div class="seurity-content">
        <h2>Built-in security</h2>
        <p>
          Platform designed and built with the highest security standards by <a>EDX.one</a>
        </p>
        <div class="logos">
          <a href="#" target="_blank">
            <div class="zeppelin"></div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="apply">
    <div class="apply-body text-center">
      <h3> Be part of this initiative and help in building the future of entrepreneurship around the globe  </h3>
      <p>Click below to get started.</p>
      <a class="btn btn-apply" href="/registration">Get Involved<i class="right-arrow-white"></i></a>
    </div>
  </section>
<%- include('../home/partials/footer.ejs') %>