<%- include('../home/partials/header') %>
<%- include('../home/partials/navbar') %>
<section id="register" class="pg-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="auth">
          <h1 class="text-center">Register</h1>
          <div class="col-md-12">
            <% if (typeof message !== "undefined" && message.length > 0) { %>
                <div class="alert alert-danger" style="font-size: 14px;"><%= message %></div>
            <% } %>
            <form method="POST" action="/signup">
            <div class="form-group">
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Password confirmation" />
            </div>
            <div class="form-group">
              <%- captcha %>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-custom">Sign up</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../home/partials/footer') %>