<%- include('../home/partials/header') %>
<%- include('../home/partials/navbar') %>
<section id="login" class="pg-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" style="margin:40px 0px;">Google Authentication</h2>
        <div class="auth">
          <div class="col-md-12">
            <% if (typeof message !== "undefined" && message.length > 0) { %>
                <div class="alert alert-danger" style="font-size: 14px;"><%= message %></div>
            <% } %>
            <form method="POST" action="/two_factor_verify">
            <div class="form-group">
              <input type="text" class="form-control" id="token" name="token" required />
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-custom">Submit</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../home/partials/footer') %>