body { margin: 0px; padding: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color: #333; background: #3f51b5; }
h1, h2, h3, h4, h5, h6, p, ul, li { margin:0px; padding: 0px; list-style: none; }
.login-register-container { padding: 15px; background: #fff; border-radius: 4px; margin: 60px auto; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
.login-container { width: 360px; }
.logo { margin-bottom: 20px; }
.form-group:after { clear: both; content: ""; display: block; }
.btn-blue { background: #3f51b5; color: #fff; }
.btn-blue:hover, .btn-blue:focus, .btn-blue:active { background: #3042a8; color: #fff; }
