body { margin: 0px; padding: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color: #333; background: #f2f2f2; }
h1, h2, h3, h4, h5, h6, p, ul, li { margin:0px; padding: 0px; list-style: none; }

.btn-blue-gradient { border: 0px; color: #fff; background: #2061ae; background: -moz-linear-gradient(left, #2061ae 0%, #57a0f2 100%);
background: -webkit-linear-gradient(left, #2061ae 0%,#57a0f2 100%); background: linear-gradient(to right, #2061ae 0%,#57a0f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2061ae', endColorstr='#57a0f2',GradientType=1 );
-webkit-transition: all .55s ease; -moz-transition: all .55s ease; -o-transition: all .55s ease; transition: all .55s ease; }
.btn-blue-gradient:hover, .btn-blue-gradient:focus, .btn-blue-gradient:active { color: #fff; background: #2061ae; background: -moz-linear-gradient(left, #2061ae 0%, #57a0f2 100%);
background: -webkit-linear-gradient(left, #2061ae 0%,#57a0f2 100%); background: linear-gradient(to right, #2061ae 0%,#57a0f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2061ae', endColorstr='#57a0f2',GradientType=1 );
-webkit-transition: all .55s ease; -moz-transition: all .55s ease; -o-transition: all .55s ease; transition: all .55s ease; }


.topnavbar-wrapper { position: fixed; top: 0; width: 100%; z-index: 10; }
.topnavbar { 
background: #fff;
 }
.topnavbar.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	border: 0px;
}

.topnavbar.navbar .navbar-header {
	width: 260px;
}

.topnavbar.navbar .navbar-brand {
	width: 100%;
	height: auto;
	padding: 10px 15px;
}

.topnavbar.navbar .navbar-nav li a {
	background: transparent;
	color: #3042a8;
    padding-top: 14px;
    padding-bottom: 14px;
}

.topnavbar.navbar .navbar-nav li a:hover {
    background-color: #3042a8;
    color: #fff;
}
.navbar-nav li a:focus,
.navbar-nav li a:active {
	background: #fff;
}

.topnavbar.navbar .navbar-right {
	margin-right: 0px;
}

.header-logo {
  cursor: pointer;
  /*background: url(../images/logo.png) no-repeat;*/
  background: url(../images/Logo.jpg) no-repeat;
  /*height: 40px;
  width: 123px;
  background-position: -19px -16px;
  */
  height: 40px;
  width: 150px;
  background-position: 0px;
  background-size: 80%;
  letter-spacing: 0.3px;
  display: inline-block;
margin-top: 10px;
}

/*--OFFCANVAS--*/

.aside {
	position: fixed;
	width: 260px;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #fff;
	-webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.aside .aside-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 61px;
    height: 100%;
    width: 260px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: -17px;
	overflow-y: scroll;
}
.sidebar .nav-heading {
    color: #656565;
    padding: 0px 30px;
    margin-top: 20px;
    line-height: 40px;
    font-weight: bold;
}
.sidebar > .nav > li {
    border-left: 3px solid transparent;
    -webkit-transition: border-left-color .4s ease;
    transition: border-left-color .4s ease;
}
.sidebar li a {
    padding: 12px 32px;
    color: #515253;
    letter-spacing: .025em;
    font-weight: 400;
    cursor: pointer;
    display: block;
}
.sidebar li a em { margin-right: 10px; font-size: 18px; }


.sidebar-subnav.collapse.in { background-color: #f5f5f5; }
.sidebar-subnav li a { padding: 12px 12px 12px 60px;  }
/*--END OFFCANVAS--*/
.layout-fixed .content-wrapper { margin: 60px 0px 0px 260px; -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.content-wrapper .page-header { margin: 20px 0px 15px; }
.content-wrapper .page-header h3 { text-transform: capitalize; font-size: 20px; }
.card { padding: 15px; background: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); margin-bottom: 20px; }
.card:after, .form-group:after { clear: both; content: ""; display: block; }
.form-group label { text-transform: capitalize; color: #777; }
.form-control { border-radius: 0px; }
.input-group.date .input-group-addon i { font-size: 14px; }

.btn-custom { padding: 8px 25px; }
.btn-blue { background: #3f51b5; color: #fff; }
.btn-blue:hover, .btn-blue:focus, .btn-blue:active { background: #3042a8; color: #fff; }

/* .layout-fixed footer { margin: 40px 0px 0px 260px; padding: 15px 30px; border-top: 1px solid #e4eaec; }
.layout-fixed footer .col-blue { color: #3f51b5; } */


/* Footer Start */

footer {
  /*background-color: #f5f5f5;*/
  background-color: #ffffff;
  border-color: #4b4c4d;
  border-top-width: 0px;
  padding: 30px 0px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgb(178, 183, 184);
}

footer .social-networks {
  margin-top: 20px;
}

footer .social-networks a {
  color: #023964;
  border-color: #ffffff;
  /*border-radius: 60px;
  background-color: #ffffff;
  */
  padding: 10px;
  width: calc(23px + (2 * 10px) + 2px);
}

footer .social-networks a.fb img {
  max-width: 35px;
}

footer .social-networks a.ln img {
  max-width: 35px;
}

footer .social-networks a.twitter img {
  max-width: 35px;
}
footer {
  background: transparent;
  letter-spacing: 0.2px;
}

footer ul {
  margin: 10px 0px;
  padding: 0px;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
  font-size: 17px;
}

footer ul li a {
  color: #4baae4;
}

/* Footer Ends */

.dropdown > a > .badge {
    position: absolute;
    top: 12px;
    right: 0px;
    padding: 2px 5px;
}
.user-profile-img-thumb {
    width: 30px;
    border-radius: 50%;
}
.topnavbar.navbar .navbar-nav li .dropdown-menu li a { color: #333; padding: 8px 12px; text-transform: capitalize; }
.topnavbar.navbar .navbar-nav li .dropdown-menu li a:hover { background: #f5f5f5; }


/*--HEADER NOTIFICATION DROPDOWN--*/
.dropdown-menu .header { text-align: center; padding: 12px; color: rgba(22, 24, 27, .87); border-bottom: 1px solid rgba(22, 24, 27, .12); }
.dropdown-menu .body { min-width: 300px; max-width: 380px; }
.dropdown-menu ul.menu li.media { border-bottom: 1px solid #eee; margin: 0px; }
.dropdown-menu ul.menu li a { padding: 7px 11px; display: inline-block; text-decoration: none; -moz-transition: 0.5s; -o-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s; }
.dropdown-menu ul.menu .icon-circle { width: 36px; height: 36px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; color: #fff; background: #3f51b5; text-align: center; display: inline-block ;}
.dropdown-menu ul.menu .icon-circle i { font-size: 18px; line-height: 36px; }
.media .media-body { color: #999; font-size: 14px; }
.dropdown-menu ul.menu .menu-note p { font-size: 11px; margin-top: 10px; color: #aaa; }
.dropdown-menu ul.menu .menu-note h4 { font-size: 13px; color: #333; margin-top: 10px; }
/*--END HEADER NOTIFICATION DROPDOWN--*/
.topnavbar.navbar .navbar-header, .aside, .content-wrapper, footer, {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


.aside-collapsed .aside { 
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.aside-collapsed .content-wrapper { margin: 60px 0px 0px; }
.aside-collapsed footer { margin: 40px 0px 0px 0px; } 

/*Bonus Management */
.heading-bonus { margin-bottom: 20px;}
/*Bonus Management */
@media (min-width:100px) and (max-width:991px){
    .layout-fixed .aside { 
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%); 
    }
    .layout-fixed.aside-collapsed .aside { 
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%); 
    }
    .layout-fixed .content-wrapper { margin: 60px 0px 0px; }
    .topnavbar.navbar .navbar-brand { width: auto; margin-left: 55px; }
    .topnavbar.navbar .navbar-header { width: auto; }
    .topnavbar.navbar .navbar-nav li a { padding: 13px 15px; }
    .navbar-toggle-icon { position: fixed; top: 0px; left: 0px; margin:0px; }
    .nav.navbar-nav.navbar-right { position: fixed; top: 0px; right: 0px; margin:0px; }
    .nav.navbar-nav.navbar-right li { float: left; }
    .topnavbar.navbar .navbar-nav li .dropdown-menu li { width: 100%; }
    .navbar-right .dropdown-menu { right: 0px; left: auto; background: #fff !important; }
    .navbar-nav .open .dropdown-menu { position: absolute; box-shadow: 0 6px 12px rgba(0,0,0,.175);  }
    .cls:after { clear: both; content: ""; display: block; }
}

@media (max-width: 767px) {
  footer {
    padding: 25px;
  }
}


@media (max-width: 600px) {
  .xs-pull-left {
    float: left !important;
  }
  .xs-no-float {
    float: none !important;
  }
  .xs-text-center {
    text-align: center;
  }
  footer ul {
    margin: 0px;
  }
  footer ul li {
    display: block;
    padding: 5px 0px;
  }
}
.btn-position{float:right;}
.amt_input{border:1px solid #ccc!important;margin-left: 20px;}
.noSpaceBonus{margin-top: 20px!important;}
.kyc-select-all {
  float: right !important;
  margin-left: 10px;
}

#kyc-select-all {
  margin-left: 10px;
}

.addNewCurreny{
  margin-bottom: 20px;
}

.gap{margin: 50px 0px;}
label{font-size: 14px;}
.modify{width: 100%;padding: 4px;box-sizing: border-box;border-radius: 4px;border: 1px solid #ccc;}
.panel-primary {
     border-color: rgba(0, 0, 0, 0.1);
}
.panel {
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   width: 100%;
}
.panel-heading {
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #337ab7;
    border-bottom: 0px;
    box-shadow: 0px 2px 2px 0px #ddd;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}
.panel-body {
    padding: 15px;
}
.history{
font-weight: 600;margin: 20px 0px;
}
.but{margin-right: 15px;}
.right{float: right!important;}
.space-left{margin-left: 15px;margin-bottom: 20px;}
.white{background-color: #fff;padding: 20px;box-sizing: border-box;}
.generatePassword {
  margin-top: 20px 
}
.addAdminPermissions{
  padding:15px
}