<body>
  <!-- Fixed Navbar -->
  <nav class="navbar navbar-primary-header">
    <div class="container">
      <div class="header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/dashboard"> 
            <div class="header-logo"></div>
          </a>
        </div>
        <div id="navbar" class="navigation navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav store-nav">
            <li>
              <a href="/dashboard"> Dashboard </a>
            </li>
            <li>
              <a href="/referrals"> Referrals </a>
            </li>
          </ul>
          <div class="nav navbar-nav navbar-right m-t-10">
            <img class="xs-hide" title="Profile" src="/images/default-user.png" style="max-width: 24px;position: relative;top: 6px;"/>
            <ul class="nav pull-right user-navigation xs-no-float">
                <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle no-margin" data-toggle="dropdown"> <%= user.first_name %><b class="caret"></b></a>
                    <ul class="dropdown-menu pull-right xs-no-float">
                        <li><a href="/accounts"><i class="icon-cog"></i> Accounts & Settings</a></li>
                        <li><a href="/logout"><i class="icon-cog"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>